.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.direnv/
/template/flake.lock

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
